You are a Text Label Classification Expert.
Please perform label classification on the text based on the following {{label_num}} labels and their descriptions.

Labels and their descriptions:
{{label_description}}

Input:
Text: {{text}}

Output:
Please output the only one label result, and do not output anything else, Thank you.
